@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #A5A3C8;;
}

input[type="time"]:not(:focus):invalid::-webkit-datetime-edit {
    color: transparent;
}

input[type="time"]:not(:focus):invalid::before {
    content: "--:--";
    color: #8A88B6; /* Cor cinza/roxa suave que você já usa */
    margin-right: 0.5em;
    font-weight: bold;
}